section.canhcam-tabs-1
	.container
		.row
			.col
				ul#ccTabs.nav.nav-tabs(role="tablist")
					li.nav-item
						a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") bất động sản
					li.nav-item
						a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") giáo dục
					li.nav-item
						a#cct-03-tab.nav-link(data-toggle="tab" href="#cct-03" role="tab" aria-controls="cct-03" aria-selected="false") khách hàng bán lẻ
				#ccTabsContent.tab-content
					#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab")
						.row
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-2.png")
										figcaption
											h3.h3 phú mỹ hưng
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
					#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab") 
						.row
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
					#cct-03.tab-pane.fade(role="tabpanel" aria-labelledby="cct-03-tab") 
						.row
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
							.col-6.col-md-4.col-lg-3.col-auto
								a(href="#")
									figure
										img.img-fluid(src="./img/twin/customers/customers-box-2-1.png")
										figcaption
											h3.h3 sonkimland
