section.twin-customer-details-2
	.container
		.row
			.col
				.title.mb-4
					h2.h2 khách hàng cùng ngành
		.row
			.col.owl-carousel.owl-theme
				.item
					a(href="#")
						figure
							img.w-100(src="./img/twin/customer-details/box-2-c-1.png")
							figcaption
								h3.h3 SONKIMLAND
				.item
					a(href="#")
						figure
							img.w-100(src="./img/twin/customer-details/box-2-c-1.png")
							figcaption
								h3.h3 phú mỹ hưng

