section.twin-boxes-2
	.row.no-gutters
		.col-lg-6.order-1.order-lg-2.d-flex.justify-content-center.align-items-center
			.info
				.box-title
					h3.h3.text-center Giải pháp CRM
					p.brief-content.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.container.align-items-center
					.row.canhcam-carousel-2
						.col.owl-carousel.owl-theme.list-items
							.item
								a(href='#')
									figure
										img(src='./img/twin/index/box-crm/c-1.png', alt='')
									.box-content
										h3.mt-3.text-center Bất động sản
							.item
								a(href='#')
									figure
										img(src='./img/twin/index/box-crm/c-1.png', alt='')
									.box-content
										h3.mt-3.text-center Giáo dục
							.item
								a(href='#')
									figure
										img(src='./img/twin/index/box-crm/c-1.png', alt='')
									.box-content
										h3.mt-3.text-center Bán lẻ
							.item
								a(href='#')
									figure
										img(src='./img/twin/index/box-crm/c-1.png', alt='')
									.box-content
										h3.mt-3.text-center Bất động sản
		.col-lg-6.order-2.order-lg-1
			.canhcam-slider-box-2
				article.owl-carousel.owl-theme.list-items
					.item(bg-img="./img/twin/index/box-crm/s-1.png")
					.item(bg-img="./img/twin/index/box-crm/s-2.png")
