section.canhcam-testimonials-1(bg-img="./img/twin/index/box-5/bg-box-5.png")
	.testimonial-slider.owl-carousel
		figure.item
			img(src='./img/twin/index/box-5/people-1.png', alt='sq-sample10')
			figcaption
				.author
					h5.mt-4
						| Pelican Steve
						span Giám đốc công nghệ Anycar.vn
							br 
							|Nền tảng và phòng trưng bày xe hơi lớn nhất tại Việt Nam
				blockquote
					| Điều làm cho Anycar trở nên độc đáo là cách chúng tôi sử dụng dữ liệu để bán những chiếc xe đã qua sử dụng. Việc thực hiện Data Lake của TWIN giúp chúng tôi xây dựng hàng triệu hồ sơ người mua xe được liên kết bằng cách kết nối nhiều nguồn của chúng tôi.
		figure.item
			img(src='./img/twin/index/box-5/people-1.png', alt='sq-sample10')
			figcaption
				.author
					h5.mt-4
						| Pelican Steve
						span Giám đốc công nghệ Anycar.vn
							br 
							|Nền tảng và phòng trưng bày xe hơi lớn nhất tại Việt Nam
				blockquote
					| Điều làm cho Anycar trở nên độc đáo là cách chúng tôi sử dụng dữ liệu để bán những chiếc xe đã qua sử dụng. Việc thực hiện Data Lake của TWIN giúp chúng tôi xây dựng hàng triệu hồ sơ người mua xe được liên kết bằng cách kết nối nhiều nguồn của chúng tôi.
