section.twin-boxes-3
	.row.no-gutters
		.col-lg-6.d-flex.justify-content-center.align-items-center
			.info
				.box-title
					h3.h3.text-center Giải pháp Data Lake
					p.brief-content.text-center Theo chân khách hàng trong hành trình mua sắm từ Online đến Offline với các giải pháp O2O
				.container.align-items-center
					.row
						.col-md-6.mb-4.mb-md-0
							.item
								figure.box-img
									img.img-fluid(src="./img/twin/index/box-datalake/icon-1.png")
								.box-content.text-center
									p SMS Tracking
						.col-md-6.mb-4.mb-md-0
							.item
								figure.box-img
									img.img-fluid(src="./img/twin/index/box-datalake/icon-2.png")
								.box-content.text-center
									p Wifi Tracking
		.col-lg-6
			a.item(href="#")(bg-img="./img/twin/index/box-datalake/video-1.png")
				figure
					.boxzoom
						.zoom-item
							.mdi.mdi-play-circle-outline
							.mdi.mdi-play-circle
						img.img-fluid(src="./img/twin/index/box-datalake/video-1.png")
