section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						h1.h1 Recap Opening Event "Google O2O Solutions"
						.box-top
							time
								span.lnr.lnr-calendar-full.mr-2
								| 12/12/2017
							.social-networks.nav
								.nav-item
									.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
										a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
								.nav-item
									a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
								.nav-item
									.g-plusone(data-size="tall")
						hr
						p.brief-content Vào ngày 15/03/2018 vừa qua, Hội thảo ra mắt công cụ Google O2O đã diễn ra thành công tại Stix Restaurant. Công cụ O2O giúp cho doanh nghiệp biết rõ được các khách hàng đến cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của buổi hội thảo vừa qua.
						p.lead Mở đầu buổi chia sẻ là bài phát biểu của anh Joe Ruelle, những câu hỏi được đặt ra cho các doanh nghiệp là, trong hình thức quảng cáo PPC (Pay-per-Click), “Giá trị của 1 click là bao nhiêu?”, “Bao nhiêu click là đủ?”..., và đó cũng chính là vấn đề cần được giải đáp trong buổi chia sẻ vừa qua. Thay vì dựa vào cảm tính mà không biết chính xác kết quả đem lại trong tương lai, các doanh nghiệp sẽ xác định cụ thể hiệu quả các click đem lại nhờ công cụ tracking Online to Offline (O2O) – được phát triển bởi Twin – Chuyên gia giải pháp công nghệ cho ngành Bất động sản.
						.box-img
							img.w-100(src="./img/twin/news-details/news-details-1.png")
						p.lead Tiếp theo bài phát biểu của anh Joe, anh Nguyễn Minh Liêm – Phó Giám Đốc Twin Software Solutions – giới thiệu và demo giải pháp Online to Offline O2O đến các đại diện doanh nghiệp.
						.box-img
							img.w-100(src="./img/twin/news-details/news-details-1.png")
						p.lead Sau phần chia sẻ về các công cụ tracking cũng như sự kết hợp chọn lọc các công cụ với từng kênh quảng cáo, anh Liêm tiếp tục chương trình với phần trình bày về phân tích dữ liệu sau khi tracking, từ đó có các giải pháp tối ưu hóa về giá quảng cáo và trải nghiệp người dùng trên từng kênh. 3 công cụ chính từ O2O (Form tracking, Call tracking và Chat tracking) sẽ được tích hợp vào website của bạn mà không làm thay đổi hành vi thông thường của khách hàng khi tương tác trên website. Sau đó, 1 hệ thống đầy đủ về thông tin của khách hàng, tất cả các từ khóa mà khách hàng tìm kiếm trên Google, sẽ được tổng hợp chi tiết để doanh nghiệp dễ dàng kiểm soát và phân bổ chi phí hiệu quả cho những chiến dịch quảng cáo hiện tại.
						.box-img
							img.w-100(src="./img/twin/news-details/news-details-1.png")
						p.lead Tiếp theo chương trình, anh Tuấn Nguyễn – Giám đốc thương hiệu Adsplus.vn chia sẻ về Case study và giải pháp Adwords. Theo anh Tuấn, độ hiệu quả của chiến dịch quảng cáo phụ thuộc vào việc doanh nghiệp biết quảng cáo đúng thời điểm cũng như quảng cáo đó đã hiển thị đúng khu vực địa lý mong muốn hay chưa. Gói “khám bệnh” website miễn phí được cung cấp bởi Adsplus.vn giúp doanh nghiệp giải đáp những vấn đề trên. Kết hợp với công cụ O2O được tích hợp trên website, doanh nghiệp có thể theo dõi khách hàng 1 cách hiệu quả với chi phí Online Marketing tối ưu nhất.
						.box-img
							img.w-100(src="./img/twin/news-details/news-details-1.png")
						p.lead Phần cuối cùng Q&A để giải đáp thắc mắc của các khách mời. Anh Tuấn cho rằng, doanh nghiệp cần có 1 phương thức đo lường để đánh giá chiến dịch quảng cáo, một ví dụ được đưa ra về sản phẩm quảng cáo là xe đẩy hàng, người tiêu dùng cần nhiều thời gian để cân nhắc trước khi mua, vì vậy, chiến dịch quảng cáo cho sản phẩm phải được thiết kế phù hợp để tiếp cận đúng đối tượng mua hàng nhất. Tiếp theo, anh Liêm - đại diện từ O2O cho biết, khả năng tracking của công cụ O2O có thể áp dụng đối với tất cả các nguồn như mạng xã hội, website,... Đáng chú ý nhất,  đối với đối tượng sử dụng là kỹ thuật viên, O2O.vn sẽ cung cấp thông số cụ thể hơn thay vì format chuẩn dành cho marketer hay quản lý doanh nghiệp.
						.box-img
							img.w-100(src="./img/twin/news-details/news-details-1.png")
						p.lead Hội thảo đã thu hút được sự chú ý lớn của các doanh nghiệp, agency về công nghệ mới O2O đã mang tới một hiệu quả tracking mạnh mẽ hơn công nghệ tracking online trước đây. Do đó có nhiều thắc mắc và thông tin cần được giải đáp thêm. Chúng tôi rất vui lòng hỗ trợ qua thông tin liên hệ dưới đây:
						.row.no-gutters.bottom
							.col-xl-7
								.box-img
									img.w-100(src="./img/twin/news-details/news-details-2.png")
							.col-xl-5.d-flex
								.box-content
									h3.h3 Google O2O Solutions
									.box-contact
										i.mr-3.fas.fa-globe 
										p Website: www.o2o.vn
									.box-contact
										i.mr-3.fab.fa-facebook 
										p Fanpage: fb.me/onlinetoofflinetracking
									.box-contact
										i.mr-3.fas.fa-envelope 
										p Email: contact@o2o.vn
									.button
										button.btn.btn-more 0986 858 724
				.col-lg-3.mt-5.mt-lg-0
					.othernews
						h2.h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3.h3 Lãnh đạo công ty CP Đầu tư & Xây dựng Phúc Khang đến Twin thỏa thuận hợp tác
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3.h3 Lãnh đạo công ty CP Đầu tư & Xây dựng Phúc Khang đến Twin thỏa thuận hợp tác
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3.h3 Lãnh đạo công ty CP Đầu tư & Xây dựng Phúc Khang đến Twin thỏa thuận hợp tác
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3.h3 Lãnh đạo công ty CP Đầu tư & Xây dựng Phúc Khang đến Twin thỏa thuận hợp tác
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
