section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/twin/slider/s-1.png", bg-img-responsive-sm="./img/twin/slider/s-1.png", bg-img-responsive-xs="./img/twin/slider/s-1.png")
			.title
				h1.s-1 O2O
				p Giải pháp Công Nghệ Tinh Gọn
		.item(bg-img="./img/twin/slider/s-2.png")
			.title
				h1.s-2 Cùng 
					span Twin
					|  & 
					span Google
				p Bảo mật Thông tin An toàn Tuyệt đối
		.item(bg-img="./img/twin/slider/s-3.png")
			.title
				h1.s-3 Data Lake
				p Bất kể khách hàng bạn đến từ đâu,
				p Hệ thống quản lý chỉ tại một điểm
