section.twin-boxes-4
	.row.no-gutters.bg-light.pt-5.pb-5
		.col-lg-5.bg-white.d-flex.justify-content-lg-end.justify-content-start.align-items-center.mb-4.mb-lg-0
			.item
				img.img-fluid(src="./img/twin/index/box-google/icon-1.png")
		.col-lg-7
			.box-content
				h3.h3.text-lg-left.text-center.mb-3.mb-lg-0 TWIN đồng hành cùng GOOGLE đem những giải pháp công nghệ tối ưu nhất đến với các doanh nghiệp Việt
				.item.mb-3.mb-lg-0
					ul.list-unstyled.nav.justify-content-center.justify-content-lg-start
						li
							a.nav-link(href="#") Speech to Text
						li
							a.nav-link(href="#") Vision API
						li
							a.nav-link(href="#") BigQuery
				.bottom.text-center.text-lg-right
					a.sub-content(href="#") Xem thêm các giải pháp khác từ Google
						i.ml-2.fas.fa-arrow-right
