section.twin-boxes-4
	.row.no-gutters
		.col-lg-6.order-1.order-lg-2.d-flex.justify-content-center.align-items-center
			.info
				.box-title
					h3.h3.text-center Google Partner
					p.brief-content.text-center Là đối tác đáng tin cậy và bền vững, chúng tôi cung cấp những phần mềm giải pháp công nghệ hàng đầu từ Google đến với doanh nghiệp Việt
				.container.align-items-center
					.row
						.col-4
							.item
								figure.box-img.mb-5
									img.img-fluid(src="./img/twin/index/google-partner/icon-1.png")
								.box-content.text-center
									p Google Cloud 
										br
										p Speech-to-Text
						.col-4
							.item
								figure.box-img.mb-5
									img.img-fluid(src="./img/twin/index/google-partner/icon-1.png")
								.box-content.text-center
									p Google Bigquery
						.col-4
							.item
								figure.box-img.mb-5
									img.img-fluid(src="./img/twin/index/google-partner/icon-1.png")
								.box-content.text-center
									p Google Cloud Vision
		.col-lg-6.order-2.order-lg-1
			.canhcam-slider-box-2
				article.owl-carousel.owl-theme.list-items
					.item(bg-img="./img/twin/index/google-partner/s-1.png")
						h4.h4 Nhận dạng giọng nói và Phân tích cuộc gọi
					.item(bg-img="./img/twin/index/google-partner/s-1.png")
						h4.h4 Nhận dạng giọng nói và Phân tích cuộc gọi
