section.twin-intro-2(bg-img="./img/twin/intro/intro-box-2-bg.png")
	.container
		.row
			.col
				.title.mb-5
					h3.h3 Tầm nhìn - Sứ mệnh
		.row
			.col-lg-6.item.pt-5
				figure
					.box-img.mb-2
						img.img-fluid(src="./img/twin/intro/intro-box-2-2.png", alt="alt")
					figcaption
						.box-content
							h4.h4 Tầm nhìn
							p TWIN mong muốn sẽ trở thành đối tác hàng đầu về giải pháp phần mềm cho mọi khách hàng doanh nghiệp ở bất kể lĩnh vực nào.
			.col-lg-6.item.pt-5
				figure
					.box-img.mb-2
						img.img-fluid(src="./img/twin/intro/intro-box-2-2.png", alt="alt")
					figcaption
						.box-content
							h4.h4 Sứ mệnh
							p Dữ liệu là tài sản lớn nhất của doanh nghiệp. TWIN với sứ mệnh giúp doanh nghiệp nhận diện dữ liệu cần thiết, cung cấp phương án để quản lý và khai thác tốt nhất tài sản này.
