section.canhcam-slider-4
	.container
		.row
			.col
				.title
					h2.h2 Nam Long Group
		.row.top.mb-4
			.col-lg-5.order-lg-2.news-list.mb-4
				h3 Cảm nhận khách hàng
				p.lead “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. “
				p.name Chủ tịch HĐQT: Ông Nguyễn Xuân Quang

				h3 dịch vụ cung cấp
				.product
					span.lnr.lnr-arrow-right.mr-3
					p CRM
				.product
					span.lnr.lnr-arrow-right.mr-3
					p Sự kiện mở bán
				.product
					span.lnr.lnr-arrow-right.mr-3
					p O2O
				.product
					span.lnr.lnr-arrow-right.mr-3
					p Sàn: CRM
				hr
				h3.h3.mr-3 website:
				a(href="#") http://namlongvn.com/
				hr
				h3.h3.mr-3 chia sẻ:
				a(href="#").box-social
					i.fab.fa-facebook-f
				a(href="#").box-social
					i.fab.fa-facebook-f
				a(href="#").box-social
					i.fab.fa-facebook-f
				a(href="#").box-social
					i.fab.fa-facebook-f
				a(href="#").box-social
					i.fab.fa-facebook-f
			.col-lg-7.order-lg-1
				.owl-carousel.owl-theme
					.item
						img.img-fluid(src="./img/twin/customer-details/box-1-s-1.png", alt="")
					.item
						img.img-fluid(src="./img/twin/customer-details/box-1-s-1.png", alt="")
					.item
						img.img-fluid(src="./img/twin/customer-details/box-1-s-1.png", alt="")
					.item
						img.img-fluid(src="./img/twin/customer-details/box-1-s-1.png", alt="")
				.box-content
					p Nam Long là một trong những chủ đầu tư có kinh nghiệm lâu đời nhất của thị trường BĐS Việt Nam với 26 năm hình thành và phát triển với 3 dòng sản phẩm chính: EHome/ EHomeS, Flora và Valora được phát triển dựa trên một nền tảng chung: sử dụng thiết kế hiệu quả để tối ưu không gian căn hộ và dự án nhằm mang lại 
		.row.mb-4
			.col
				h3 giải pháp công nghệ cho sự kiện mở bán
				.row
					.col-lg-6.item
						p Twin CRM là ứng dụng bán hàng và chăm sóc khách hàng được thiết kế đặc thù cho doanh nghiệp & cá nhân hoạt động trong lĩnh vực Bất động sản. 
						p Twin CRM là công cụ không thể thiếu trong các sự kiện mở bán dự án của chủ đầu tư. Nhân viên có thể thực hiện đặt căn ngay trực tiếp trên ứng dụng di động, dữ liệu được cập nhật real-time lên Booking Board trình chiếu tại sự kiện.
						h4.h4 Hình ảnh chuyên nghiệp
						p Công ty của bạn sẽ càng chuyên nghiệp hơn trong mắt khách hàng khi ứng dụng công nghệ vào các sự kiện mở bán dự án.
						h4.h4 Trực quan - Chính xác - Tức thời
						p Giỏ hàng được thể hiện trực quan bằng màu sắc. Các giao dịch thực hiện chính xác và tức thời (real-time) thông qua MobileApp/WebApp với các hiệu ứng và âm thanh ấn tượng.
						h4.h4 Cài đặt nhanh chóng & dễ sử dụng
						p Thiết lập giỏ hàng, kịch bản và hướng dẫn sử dụng trong vòng 1 ngày. Thao tác đơn giản bằng điện thoại hoặc máy tính
						h4.h4 Tối ưu nguồn lực & chi phí
						p Kịch bản sẽ được thiết lập vào hệ thống và thực hiện tự động giúp tối ưu nguồn lực và chi phí cho những sai sót do vận hành thủ công.
					.col-lg-6.item
						a(href="#")
							figure
								img.img-fluid(src="./img/twin/customer-details/box-1-2.png")
		.row.bottom
			.col
				h3 Twin CRM
				p.mb-4 Twin CRM được thiết kế đặc thù dành cho nhân viên kinh doanh Bất Động Sản với các chức năng:
				.row
					.col-lg-6.item
						.box-item.mb-5
							h4.h4 1. E-SALES KIT: 
							p Thông tin dự án, vị trí, tiện ích, thư viện hình ảnh/video...
							p Thông tin chính sách bán hàng, chương trình bán hàng
							p Thông tin sản phẩm, giá bán cập nhật tức thời
						.box-item.mb-5
							h4.h4 2. CHĂM SÓC KHÁCH HÀNG: 
							p Quản lý danh sách, hồ sơ chi tiết và nhu cầu của khách hàng. 
							p Phân loại, đánh giá khách hàng tiềm năng.
							p Cập nhật tình trạng chăm sóc khách hàng. 
							p Nhận khách trực tiếp từ công ty hoặc từ website.
							p Xem được hành trình khách hàng từ Online.
						.box-item.mb-5
							h4.h4 3. GIỎ HÀNG & GIAO DỊCH: 
							p Tình trạng sản phẩm, giỏ hàng được cập nhật Real-time. 
							p Thực hiện đặt chỗ / đặt cọc trực tiếp từ ứng dụng và cập nhật tức thời đến công ty.
							p Tìm kiếm sản phẩm nhanh chóng theo nhiều tiêu chí. 
					.col-lg-6.item
						.box-item.mb-5
							h4.h4 4. LỊCH LÀM VIỆC: 
							p Quản lý lịch làm việc, lịch hẹn với khách hàng, công việc được phân công từ công ty. Tiện ích nhắc nhớ qua email, sms.
						.box-item.mb-5
							h4.h4 5. CÔNG CỤ TÍNH LÃI VAY: 
							p Giúp không gián đoạn việc tư vấn bán hàng.
							p Tính số tiền phải trả hàng tháng bao gồm nợ gốc và lãi cho khoản vay của khách hàng. Hỗ trợ xuất ra file pdf 
						.box-item.mb-5
							h4.h4 6. THÔNG BÁO & TIN TỨC: 
							p Tin tức thị trường, tin nội bộ, thông báo từ công ty được cập nhật tức thời đến ứng dụng.
						.box-item.mb-5
							h4.h4 7. TIN RAO: 
							p Tin rao bán, cho thuê Bất động sản online toàn thị trường Việt Nam
						.box-item.mb-5
							h4.h4 8. DASHBOARD: 
							p Báo cáo tổng quan hiệu suất, tập khách hàng, lịch làm việc, giao dịch.
					.col-12.owl-carousel.owl-theme
						.item
							img.w-100(src="./img/twin/customer-details/box-1-s-2.png")
						.item
							img.w-100(src="./img/twin/customer-details/box-1-s-2.png")


