section.twin-contact-1
	.container
		.row
			.col
				.title.mb-3.mb-lg-5
					h2.h2 liên hệ
		.row
			.col-lg-4.item
				.title.mb-4
					h3.h3 Twin Software Solutions
				.box-content
					p 
						strong Địa chỉ: 
						|Floor 6th, Bitexco Nam Long building, 63A Vo Van Tan street, Ward 6, District 3, HCMC, Vietnam 
					p
						strong Email: 
						|contact@twin.vn
					p
						strong Website: 
						|twin.vn  |  crm.twin.vn
