section.twin-gb-3
	.container
		.row
			.col
				.title.mb-5
					h2.h2 Dự án nổi bật
		.row
			.col-12
				.slider-for.mb-5
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
					.item
						.row
							.col-lg-6.text-center.text-lg-right
								h3.h3 PNJ
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae consectetur ipsum aut, incidunt corporis? Aliquid dolor sequi nam doloribus sed, quos ut cum, provident eos natus reiciendis similique aliquam!
							.col-lg-6
								.box-img
									img(src="./img/twin/gb/gb-box-3-1.png")
				.slider-nav
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
					.item
						img.img-fluid(src="./img/twin/gb/gb-box-3-clients-1.png" alt="image")
