section.twin-gb-2
	.container
		.row
			.col
				.title.mb-5
					h2.h2 tại sao chọn chúng tôi?
		.row
			.col-lg-6.item
				.box-content.mb-5.mb-lg-0
					p.mb-3.mb-lg-5
						i Lợi ích rõ nhất mà giải pháp mang lại cho Doanh Nghiệp là kiểm soát được ngân sách marketing, trước đây việc chi ra vài chục nghìn USD cho quảng cáo hầu như không thể biết được hiệu quả mang về bao nhiêu khách hàng đến cửa hàng, mang lại bao nhiêu doanh số
					p.mb-3.mb-lg-5
						strong O2O sẽ giúp cho doanh nghiệp biết đâu là kênh quảng cáo hiệu quả, đâu là kênh không hiệu quả, từ đó tăng/ giảm ngân sách marketing hợp lý.
					p
						i Một mặt khác, O2O sẽ giúp cho Doanh Nghiệp hiểu rõ khách hàng từ lúc xem website cho đến lúc mua hàng, hành vi của họ như thế nào, sau khi xem quảng cáo thì bao lâu họ xuất hiện tại cửa hàng, bao lâu thì quay lại.
			.col-lg-6.item
				.row.mb-4.mb-lg-0
					.col
						figure
							.box-img.mb-2.mb-lg-0
								img.img-fluid(src="./img/twin/gb/gb-box-2-1.png", alt="")
							figcaption
								p Kiểm soát ngân sách Marketing
				.row.mb-4.mb-lg-0
					.col
						figure
							.box-img.mb-2.mb-lg-0
								img.img-fluid(src="./img/twin/gb/gb-box-2-2.png", alt="")
							figcaption
								p Tối ưu hóa chiến dịch quảng cáo online
				.row.mb-4.mb-lg-0
					.col
						figure
							.box-img.mb-2.mb-lg-0
								img.img-fluid(src="./img/twin/gb/gb-box-2-3.png", alt="")
							figcaption
								p Thấu hiểu hành vi mua hàng của khách
