section.twin-boxes-1
	.row.no-gutters
		.col-lg-6.d-flex.justify-content-center.align-items-center
			.info
				.box-title
					h3.h3.text-center Giải pháp O2O
					p.brief-content.text-center Theo chân khách hàng trong hành trình mua sắm từ Online đến Offline với các giải pháp O2O
				.container.align-items-center
					.row
						.col-md-4.mb-4.mb-md-0
							.item
								figure.box-img
									img.img-fluid(src="./img/twin/index/box-o2o/icon-1.png")
								.box-content.text-center
									p SMS Tracking
						.col-md-4.mb-4.mb-md-0
							.item
								figure.box-img
									img.img-fluid(src="./img/twin/index/box-o2o/icon-2.png")
								.box-content.text-center
									p Wifi Tracking
						.col-md-4
							.item
								figure.box-img
									img.img-fluid(src="./img/twin/index/box-o2o/icon-3.png")
								.box-content.text-center
									p QR Tracking
		.col-lg-6
			.canhcam-slider-box-1
				article.owl-carousel.owl-theme.list-items
					.item(bg-img="./img/twin/index/box-o2o/s-1.png")
					.item(bg-img="./img/twin/index/box-o2o/s-2.png")
					.item(bg-img="./img/twin/index/box-o2o/s-3.png")

