section.twin-gb-1
	.container
		.row
			.col-lg-6.item
				.box-content
					.title
						h2.h2 Giới thiệu
					.content
						p O2O (Online to Offline) là giải pháp giúp cho các doanh nghiệp biết được khách hàng vừa ghé cửa hàng hoặc vừa mua hàng đã xem quảng cáo nào trước đó. 
					.button
						button.btn.btn-more 0986 858 724
							span Liên hệ để được tư vấn
						button.btn.btn-more O2O.vn
							span Tìm hiểu thêm
			.col-lg-6.item
				.box-img
					img.w-100(src="./img/twin/gb/gb-box-1-1.png")
