section.twin-intro-5
	.container
		.row
			.col
				.title.mb-5
					h3.h3 Tại sao chọn chúng tôi
				.brief-content
					i Chúng tôi hiểu rõ doanh nghiệp sẽ cần các giải pháp khác nhau tùy theo ngành nghề, theo giai đoạn phát triển, theo qui mô hoặc phương pháp quản trị. Hợp tác với TWIN, doanh nghiệp sẽ có các phương án phù hợp nhất, gọn nhẹ nhất mà các đối tác quốc tế hoặc sẽ không linh động hoặc sẽ rất đắt đỏ
		.row
			.col-lg-4.item.mb-4.mb-lg-0
				figure
					.box-img.mb-2
						img.img-fluid(src="./img/twin/intro/intro-box-5-1.png", alt="alt")
					figcaption
						.box-content
							h4.h4 Đội ngũ chuyên nghiệp
			.col-lg-4.item.mb-4.mb-lg-0
				figure
					.box-img.mb-2
						img.img-fluid(src="./img/twin/intro/intro-box-5-2.png", alt="alt")
					figcaption
						.box-content
							h4.h4 Partner với Google
			.col-lg-4.item
				figure
					.box-img.mb-2
						img.img-fluid(src="./img/twin/intro/intro-box-5-3.png", alt="alt")
					figcaption
						.box-content
							h4.h4 Thực hiện nhiều dự án 
								br
								|CRM Cho Bất Động Sản
