section.twin-nav-1
	ul.nav.justify-content-center
		li.nav-item.active
			a.nav-link(href="#") giải pháp O2O
		li.nav-item
			a.nav-link(href="#") Giải pháp CRM
		li.nav-item
			a.nav-link(href="#") data lake - Bigdata cho doanh nghiệp
		li.nav-item
			a.nav-link(href="#") giải pháp với google
