section.twin-intro-1
	.container
		.row
			.col
				.title.mb-3.mb-lg-5
					h2.h2 Giới thiệu
		.row
			.col-lg-6.item.order-lg-2
				.box-content
					p TWIN Software Solutions (TWIN) được thành lập vào năm 2012. Chuyên tư vấn và cung cấp giải pháp phần mềm cho các doanh nghiệp.
					p Với đội ngũ kỹ sư nhiều kinh nghiệm đã từng làm việc tại những công ty phần mềm hàng đầu Việt Nam và đã triển khai thành công những dự án phần mềm lớn cho doanh nghiệp trong nước và quốc tế.
			.col-lg-6.item.order-lg-1.mb-5.mb-lg-0
				.box-img
					img.w-100(src="./img/twin/intro/intro-box-1-1.png", alt="")
			.col-lg-6.item.order-3
				.box-content
					p Twin cung cấp đầy đủ các dịch vụ phần mềm từ Tư vấn, Phát triển, Triển khai, Hỗ trợ. Bao gồm Sản phẩm đóng gói và phát triển theo yêu cầu.
					p Thế mạnh của TWIN là hiểu rõ nhu cầu quản lý vận hành của doanh nghiệp từ đó tư vấn và cung cấp các giải pháp phù hợp nhất.
			.col-lg-6.item.order-4
				.box-img
					img.w-100(src="./img/twin/intro/intro-box-1-2.png", alt="")
