section.twin-customers-1
	.container
		.row
			.col
				.title.mb-3.mb-lg-5
					h2.h2 khách hàng
		.row
			.col-lg-3.item.mb-5.mb-lg-0
				figure
					.box-img
						img.img-fluid(src="./img/twin/customers/customers-box-1-1.png", alt="", srcset="")
					figcaption
						.box-content
							h3.h3 Sơn Kim Land
							p SonKim Land đã phát triển lớn mạnh trở thành nhà đầu tư và phát triển hàng đầu trong các lĩnh vực bất động sản, căn hộ, văn phòng, nhà hàng khách sạn, hệ thống bán lẻ tại thị trường trong nước và nước ngoài
						a.link(href="#") Xem thêm
			.col-lg-3.item.mb-5.mb-lg-0
				figure
					.box-img
						img.img-fluid(src="./img/twin/customers/customers-box-1-2.png", alt="", srcset="")
					figcaption
						.box-content
							h3.h3 Anh Văn Hội Việt Mỹ
							p Anh văn Hội Việt Mỹ VUS là hệ thống Anh ngữ uy tín hàng đầu tại Việt Nam với hàng triệu học viên đã tin tưởng theo học, với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước. 
						a.link(href="#") Xem thêm
			.col-lg-3.item.mb-5.mb-lg-0
				figure
					.box-img
						img.img-fluid(src="./img/twin/customers/customers-box-1-3.png", alt="", srcset="")
					figcaption
						.box-content
							h3.h3 Mitsubishi Motor
							p Công ty TNHH ô tô Mitsubishi Việt Nam là một trong những công ty liên doanh sản xuất ô tô đầu tiên ở Việt nam với tiêu chí cạnh tranh, sáng tạo và luôn hướng về khách hàng 
						a.link(href="#") Xem thêm
			.col-lg-3.item
				figure
					.box-img
						img.img-fluid(src="./img/twin/customers/customers-box-1-4.png", alt="", srcset="")
					figcaption
						.box-content
							h3.h3 Lavender Spa
							p Lavender tự hào là một trong những đơn vị tiên phong đưa ngành công nghệ thẩm mỹ tiên tiến thế giới vào Việt Nam. Trải qua 12 năm phát triển, Lavender vẫn giữ vững vị trí dẫn đầu và khẳng định thương hiệu đẳng cấp quốc tế.
						a.link(href="#") Xem thêm
