section.twin-intro-3(bg-img="./img/twin/intro/intro-box-3-bg.png")
	.container
		.row
			.col
				.title.mb-5
					h3.h3 Đội ngũ của TWIN
		.row
			.col.item
				.box-content
					p Đội ngũ của TWIN luôn hướng đến mục tiêu cung cấp giải pháp tốt nhất cho khách hàng. Văn hóa làm việc tại TWIN là không chỉ làm theo những gì khách hàng yêu cầu mà luôn chủ động tư vấn các giải pháp tối ưu nhất
