section.twin-news-1
	.container
		.row
			.col
				.title.mb-3.mb-lg-5
					h2.h2 tin tức mới nhất
		.row
			.col-lg-6.item.mb-5.mb-lg-0
				figure
					.box-img
						img.img-fluid(src="./img/twin/news/news-box-1-1.png", alt="", srcset="")
					figcaption
						.box-content
							time
								span.lnr.lnr-calendar-full.mr-2
								| 12/12/2017
							h3.h3 Lãnh đạo công ty CP Đầu tư & Xây dựng Phúc Khang đến Twin thỏa thuận hợp tác
			.col-lg-6.item.mb-5.mb-lg-0
				figure
					.box-img
						img.img-fluid(src="./img/twin/news/news-box-1-2.png", alt="", srcset="")
					figcaption
						.box-content
							time
								span.lnr.lnr-calendar-full.mr-2
								| 12/12/2017
							h3.h3 Recap Opening Event "Google O2O Solutions"
