section.canhcam-tabs-2
	.container
		.row
			.col
				ul#ccTabs.nav.nav-tabs(role="tablist")
					li.nav-item
						a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Sự kiện nổi bật
					li.nav-item
						a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Twin Real Estate Solutions
				#ccTabsContent.tab-content
					#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab")
						.row
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Twin CRM vinh dự nhận giải thưởng từ Nam Long Group
										p Nhân kỷ niệm 25 năm phát triển và hội nhập của Nam Long Group (29/11), Twin CRM hân hạnh nhận được giải thưởng "THE OUTSTANDING SALES MANAGEMENT TECHNOLOGY" ghi nhận sự đóng góp về Công nghệ góp phần mang lại thành công cho dự án MIZUKI PARK
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Twin trình bày giải pháp và demo hệ thống cho các đối tác và có sự tham gia của đại diện Google
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
					#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab") 
						.row
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
					#cct-03.tab-pane.fade(role="tabpanel" aria-labelledby="cct-03-tab") 
						.row
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
							.col-md-6.col-lg-3
								figure
									img.img-fluid(src="./img/twin/news/news-box-2-1.png")
									figcaption
										h3.h3 Recap nội dung Workshop “Online to Offline tracking & analytics”
										p Vào ngày 28/01/2018 vừa qua, cộng đồng UAN đã tổ chức thành công Workshop “Online to Offline tracking & analytics”. Workshop nhằm đưa đến những giải pháp giúp cho doanh nghiệp biết rõ được các khách hàng đến tới cửa hàng, showroom offline của mình đến từ kênh nào, tìm kiếm từ khóa nào, truy cập vào banner quảng cáo nào... ngay cả khi không để lại thông tin gì online với sư chia sẻ của các diễn giả có kinh nghiệm lâu năm trong các cộng đồng. Hãy cùng nhau nhìn lại những điểm đáng chú ý của Workshop này
									.bottom
										time
											span.lnr.lnr-calendar-full.mr-2
											| 12/12/2017
										a.link(href="#") Xem thêm
